.footer-container {
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Default text color */
    padding: 20px;
  }
  
  .footer-container h1 {
    color: #fff; /* Heading text color */
  }
  
  /* Change text color on hover */
  .footer-container .list-group-item:hover {
    color: #17a2b8; /* Change to your desired hover color */
  }
  